.slider{
   -webkit-appearance: none;
   border: 1px solid #d4d4d4;
   position: absolute;
   left: 36px;
   width: 135px;
   height: 5px;

}

.slider::-webkit-slider-thumb {
   position: relative;
   z-index: 1;
   cursor: pointer;
}

.container{
   padding-top: 5px;
}

