.message {
   margin-left: 10px;
   position: relative;
   min-width: 150px;
   max-width: 350px;
   display: grid;
   grid-template-columns: 1fr 6fr;
}

.message__ava{
   position: relative;
}

.message__ava img{
   position: absolute;
   bottom: 0px;
   display: inline-block;
   border: 1px solid;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   
}

.message__content{
   position: relative;
   border: 1px solid;
   border-radius: 10px 10px 10px 0;
   background-color: black;
}

.message__content:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -1px;
  left: -40px;
  height: 50px;
  width: 50px;
  border-bottom-right-radius: 33px;
  box-shadow: 25px  0 0 0 black;
}

/* .message__content:before{
   position:absolute;
   content:"";
   z-index: -1;
   left: -13px;
   bottom: -1px;
   border-bottom: 30px solid black; 
	border-left: 30px solid transparent;
   
} */

.name{
   color: #8d07f5;
   padding-left: 10px;
}

.text{
   color: white;
   padding: 0 10px 30px 10px;
}

.time{
   position: absolute;
   right: 10px;
   bottom: 7px;
   color: #747474;
}