.superInput {
   border:2px solid #aaa;
   border-radius:5px;
   margin: 3px 0;
   outline:none;
   padding:8px;
   box-sizing:border-box;
   transition:.3s;
}

.errorInput {
   border:2px solid rgb(255, 80, 80);
   border-radius:5px;
   margin:3px 0;
   outline:none;
   padding:8px;
   box-sizing:border-box;
   transition:.3s;
}

.error {
   color: rgb(255, 80, 80);
}

