.default {
  background-color: #ffffff;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .2rem .9rem; 
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 5px;
}

.default:hover {
  background-color: rgb(249,250,251);
}

.default:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.default:focus-visible {
  box-shadow: none;
}

.red {
    background-color: rgb(255, 80, 80);
}

.red:hover {
   background-color: rgb(255, 140, 140);
   outline: 2px solid transparent;
   outline-offset: 2px;
}

.default:disabled{
   opacity: .7;
   background-color: #fff;
   cursor: auto;
}